@model API.ViewModel.ChangePassword

@{
    ViewData["Title"] = "Forgot Password";
}

<h1>Change Password</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Email" class="control-label">Email</label>
                <input asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.NewPassword" class="control-label">New Password</label>
                <input asp-for="@Model.NewPassword" class="form-control" />
                <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Change Password" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>